*
{
    font-family:'Raleway', sans-serif;
    box-sizing: border-box;
}
h1, h2
{
    font-size:14px;
}
/* style header*/
header
{
    margin-left: 20px;
}
#top /* logo + liens de nevigation*/
{
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
}
.logo img
{
    width: 100px;   
    padding-top: 20px;
}
nav
{
    display:flex;
    justify-content: space-around;
    width:25%;
}
nav a
{
    padding-top: 20px;
    border-top:3px transparent solid;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
nav a:hover
{
    color:#0065F2;
    border-top:3px #0065F2 solid;
}

header p
{
    font-size: 12px;
}
/*responsive header version tph*/
@media all and (max-width:768px)
{
    header
    {
        margin-left: 0;
    }
    #top
    {
        flex-direction:column;
        align-items: center;
        margin-left:0;
    }
    nav
    {
        width: 100%;
        font-size: 20px;  
    }
    nav a
    {
        text-align: center;
        width:100%;
        padding: 10px 0;
        border-top: transparent;
        border-bottom: 3px #f2f2f2 solid;
    }
    nav a:hover
    {
        border-top:transparent;
        border-bottom: 3px #0065F2 solid;
    }
    header h1, header p
    {
      margin-left: 20px;  
    }
}
/*style section recherche*/
#formulaire-recherche
{
    display: flex;
    margin: 20px;
}
#formulaire-recherche label /*bloc icone localisation*/
{
    display:flex;
    justify-content: center;
    align-items: center; 
    width:30px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    color: black;
}
#formulaire-recherche input/*cadre à remplir*/
{
    height: 30px;
    border: 1px #f2f2f2 solid;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
#formulaire-recherche button
{
    display:flex;
    align-items: center;
    height:30px;
    background-color: #0065F2;
    border:none;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
#formulaire-recherche button i
{
   display: none;
   font-size: 15px;
}
/* Responsive section recherche version tph*/
@media all and (max-width:768px)
{
    #recherche
    {
        display: flex;
        justify-content: center;
    } 
    #formulaire-recherche label
    {
        width: 40px;
        font-size: 20px;
    }
    #formulaire-recherche
    {
        justify-content: center;
        width: calc(100% - 20px);
        max-width: 400px;
    }
    #formulaire-recherche input
    {
        width:75%;
        height: 40px;
    }
    #formulaire-recherche button
    {
        justify-content: center;
        border-radius: 10px;
        width:40px;
        height: 40px;
        margin-left: -10px;
    }
    #formulaire-recherche button i
    {
        display: flex;
        justify-content: center;
    }
    #formulaire-recherche button span
    {
        display:none;
    }  
}

/* style section filtre*/
#filtre
{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
#filtre h2
{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-right:20px;
    font-size: 12px;
    font-weight: bold;
}
.filtres
{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filtres button
{
    display:flex; 
    justify-content: space-between;
    align-items: center; 
    height: 30px; 
    padding-right: 20px;
    margin: 10px 20px 10px 0;
    background-color: white;
    border: 2px #f2F2F2 solid;
    border-radius:15px;
    font-size: 12px;
    color:black;
    font-weight: bold;        
}
.filtres button:hover
{
    background-color: #deebff;
    color: #0065F2;
    border: 2px #deebff solid;
}
.filtres button i
{
    display:flex;
    justify-content:center;
    align-items: center;
    width:30px;
    height:30px;
    margin: 0 10px 0 -10px;
    background-color: #deebff;
    border-radius:50%;
    color:#0065F2;
}
.info
{
    display:flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 12px;
}
.info i
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px #f2f2f2 solid;
    border-radius: 50%;
    color: #0065F2;
}
.info span
{
    padding-top:2px;
}
@media all and (max-width:768px)
{
    #filtre
    {
        margin-top: 0;
    }
}

/*style section hebergements ET populaires*/
#bloc-hebergements-populaires
{
    display:flex;
    justify-content: space-between;
}
/*style section hebergements*/
#hebergements
{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width:65%;
    margin:20px;
    padding:20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
#hebergements h2
{
   
    font-weight:bold;
}
#hebergements .card-group
{
    display:flex;
    justify-content:space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: calc(100% - 80px); 
}
#hebergements .card
{ 
    width:calc(33% - 20px);
    height: 150px;
    margin-bottom: 20px;
}
#hebergements .card a
{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    background-color: white;
    text-decoration: none;
    box-shadow: 0px 0px 10px grey;
    border-radius: 15px;
}
#hebergements .card a:hover
{
    background-color: #deebff;
}
#hebergements img
{
    object-fit:cover;
    width: calc(100% - 6px);
    height: 60%;
    margin: 3px auto;
    border-radius:15px 15px 0 0;
}
#hebergements .card-body
{
    display:flex;
    flex-direction: column;
    margin: 5px 0 0 7px;
    color:black;
    font-size:12px;
}
#hebergements .card-name
{
    font-weight: bold;
}
.fool
{
    color:#0065F2;
}
.empty
{
    color:#f2f2f2;
}
#hebergements p
{
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0 0 0;
}
/*style section populaires*/
#populaires
{
    display:flex;
    flex-direction:column;
    width:30%;
    margin: 20px;
    padding: 20px 0 10px 0; 
    background-color: #f2f2f2;
    border-radius: 10px;
}
#populaires-titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:20px;
}
#populaires h2
{
    padding-left: 20px;
}
#populaires .card a
{
    display:flex;
    justify-content:flex-start;
    width: calc(100% - 40px);
    max-width: 400px;
    height: 100px;
    margin:auto;
    margin-bottom: 15px;
    padding-top: 3px;
    border-radius: 10px;
    background-color:white; 
    text-decoration: none;
    box-shadow: 0px 0px 10px grey;
}
#populaires .card a:hover
{
    background-color: #deebff;
}
#populaires img
{
    width: 40%;
    height: 94px;
    object-fit: cover;
    padding-left: 3px;
    border-radius:10px 0 0 10px;
}
#populaires .card-body
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
    color:black;
    font-size:12px;
}
#populaires .card-name
{
    font-weight: bold;
}

@media all and (max-width:992px) and (min-width:769px)
{
    #bloc-hebergements-populaires
    {
    flex-direction: column-reverse;
    }
    #populaires, #hebergements
    {
        width: calc(100% - 40px);
        margin: 20px auto;
        border-radius: 15px;
    }
    #populaires .card-group
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #populaires .card
    {
        width: calc(100% - 10px);
    }
    #hebergements .card
    {
        margin-bottom: 20px;
    }
    #hebergements p
    {
        margin: 0;
    }
}
@media all and (max-width:768px)
{
    #bloc-hebergements-populaires
    {
        flex-direction: column-reverse;
    }
    #populaires
    {
        width: 100%;
        padding: 20px 0 20px 0;
        margin: 20px 0;
        border-radius:0;
    }
    #hebergements
    {
        width:100%;
        background-color: transparent;
        margin: 0;
    }
    #hebergements .card-group
    {
        flex-direction: column;
        align-content:center;
        width: 100%;
        
    }
    #hebergements .card
    {
        width:100%;
        max-width:400px;
        margin-bottom: 20px;
        height: 150px;
    }
    #hebergements p
    {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

/*style section activités*/
#activites
{
    display:flex;
    flex-direction: column;
    margin:20px;
    font-weight: bold;
}
#activites .card-group
{
    display:flex;
    justify-content:space-between;
}
#activites .card-big
{
    display:flex;
    flex-direction: column;
    width: calc(100% / 4 - 30px);
    height:300px;
    border-radius:10px;
    box-shadow: 0px 0px 10px grey;
}
#activites .card-big img
{
    width:100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;    
}
#activites .card-group-2
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 4 - 30px);
}
#activites .card-medium
{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 150px;
    border-radius:10px;
    box-shadow: 0px 0px 10px grey;
}
#activites .card-medium img
{
    width:100%;
    height: 110px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;    
}
#activites .card-little
{
    display:flex;
    flex-direction: column;
    width:100%;
    height:110px;
    border-radius:10px;
    box-shadow: 0px 0px 10px grey;
}
#activites .card-little img
{
    width:100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;    
}
#activites .card-titre
{
    margin-left: 5px;
    font-size: 12px;
}
#activites .card-big:hover, #activites .card-medium:hover, #activites .card-little:hover
{
    background-color: #deebff;
}

@media all and (max-width:768px)
{
    #activites
    {
        margin-top: 0;
    }
    #activites .card-group
    {
        flex-direction:column;
        align-items:center;
    }
    #activites .card-group-2
    {
        align-items: center;
        width:100%;
    }
    #activites .card-big, #activites .card-group-2 .card-medium, #activites .card-group-2 .card-little
    {
        width: 100%;
        max-width: 400px;
        height:130px;
        margin-bottom: 20px;
    }
    #activites .card-big img, #activites .card-group-2 .card-medium img, #activites .card-group-2 .card-little img
    {
        height: 100px;
    }
}
footer
{
    display:flex;
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
}
h3
{
    font-weight:bold;
    font-size: 10px;
}
footer div
{
    margin: 0 150px 0 20px;
    width: 33%;
}
ul
{
    list-style: none;
    padding-left: 0;
    font-size :10px;
}
li
{
    margin-top: 7px;
}
@media all and (max-width:768px)
{
    footer
    {
    flex-direction: column;
    }
}