*
{
    font-family:'Raleway', sans-serif;
    box-sizing: border-box;
}
@media all and (max-width:992px) and (min-width:769px)
{
    body
    {
        background-color: rgb(245, 97, 153);
    }
}
header
{
    margin:20px;
}
#entête
{
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
}
nav
{
    display:flex;
    justify-content: space-around;
    width:25%;
}
.element
{
    color: black;
    text-decoration: none;
}
.element:hover
{
    color:#0065F2;
    border-top:3px #0065F2 solid;
}
@media all and (max-width:992px) and (min-width:769px)
{
    nav
    {
        display:flex;
        width: 100%;
        font-size: 20px;
    }
    .element
    {
        width:100%;
        text-align: center;
    }
}
@media all and (max-width:768px)
{
    #entête
    {
        display:flex;
        flex-direction:column;
        align-items: center;
        width:100%;
        margin-left:0;    
    }
    nav
    {
        display:flex;
        width: 100%;
        font-size: 20px;
        border-bottom: 3px #f2f2f2 solid;
    }
    .element
    {
        width:100%;
        text-align: center;
    }
    .element:hover
    {
        border-top: none;
        border-bottom: 3px #0065F2 solid;
    }
}

#formulaire-recherche
{
    display: flex;
    margin: 20px;
}
#formulaire-recherche input
{
    display:flex;
    align-items: center;
    border: 1px #f2f2f2 solid;
    height: 30px;
}
#formulaire-recherche label
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px 0 0 5px;
    color: black;
    width:30px;
}
#formulaire-recherche button
{
    color: white;
    background-color: #0065F2;
    border:none;
    border-radius: 0 5px 5px 0;
}
.tph-version
{
    display: none;
}
.fa-search
{
    color:white;
    background-color: #0065F2;
}
@media all and (max-width:992px) and (min-width:769px)
{
    #formulaire-recherche
    {
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width:768px)
{
   #formulaire-recherche
    {
        display: flex;
        justify-content: center;
    }
    .desktop-version
    {
        display:none;
    }
    .tph-version
    {
        display:flex;
        align-items: center;
    }
}

.filtre /* 1ère boite*/
{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
.filtres
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:90%;
}
.filtre-titre
{
    font-weight: bold;
    display:flex;
    align-items:center;
    font-size: 12px;
}
.filtres button
{
        display:flex; 
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color:black;
        font-weight: bold;
        background-color: white;
        border-radius:15px;
        border: 2px #f2F2F2 solid;
        height: 30px;
        padding-right: 20px;
}
.filtres button i
{
    display:flex;
    justify-content:center;
    align-items: center;
    color:#0065F2;
    background-color: #deebff;
    height:30px;
    width:30px;
    border-radius:50%;
    margin: 0 10px 0 -10px;

}


#info /* boite info*/
{
    font-size: 10px;
    display:flex;
    justify-content: flex-start;
}
